<footer>
    &copy; Copyright <span id="copyYear">2022</span>
    <a href="https://theevanproject.netlify.app/" class="footer__eProject" target="_blank">The Evan Project </a>
</footer>
</body>
</html>

