<%- include('partials/header') -%>

  <section class="addNew">

    <section class="addNewForm">

      <h2 class="addNewTitle">Create a New Company:</h2>
      <section class="formSection">
        <form action="/company/createNewCompany" method="POST" name="createCompanyForm">

          <!-- Company Name -->
          <section class="inputSection">
            <label for="companyName" class="addNewLabel">Company Name:</label>
            <input type="text" class="form-control addNewInput" id="companyName" name="companyName"
              placeholder="Company Name">
          </section>

          <!-- Company Website -->
          <section class="inputSection">
            <label for="companyWebsite" class="addNewLabel">Company Website:</label>
            <input type="text" class="form-control addNewInput" id="companyName" name="companyWebsite"
              placeholder="Company Website">
          </section>


          <!-- Company Industry -->
          <section class="inputSection">
            <label for="companyIndustry" class="addNewLabel">Company Industry:</label>
            <input type="text" class="form-control addNewInput" id="ompanyIndustry" name="companyIndustry"
              placeholder="Company Industry">


          </section>

          <button type="submit" class="addNewBTN" value="Upload">Submit</button>
        </form>
      </section>


    </section>

    <section class="goBack">
      <a href="/profile">Back to your profile</a>
    </section>
  </section>

  <%- include('partials/footer') -%>