<%- include('partials/headerLogin') -%>

<main class="home">
    <section class="home__main">
       <span class="home__underScore"><a href="/login"><span class="home__login">Login</span></a>
       <a href="/signup"><span class="home__signup">Signup</span></a></span>
    </section>
</main>
    

<%- include('partials/footer') -%>

