<% - include('partials/header') -%>

  <section class="container">

    <section class="mt-5">
      <h2>Create a new Company:</h2>
      <form action="/company/createCompany" method="POST" name="createCompanyForm">
        <section class="mb-3">
          <input type="text" class="form-control" id="companyName" name="name"
            placeholder="Company Name">
        </section>
        <section class="mb-3">
          <input type="text" class="form-control" id="companyWebsite" name="website"
            placeholder="Company Website">
        </section>
        <section class="mb-3">
          <input type="text" class="form-control" id="industry" name="industry" placeholder="Industry">
        </section>

        <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
      </form>
    </section>

    <section class="row mt-5">
      <section class="col-6">
       

      </section>
    </section>

  </section>



  <%- include('partials/footer') -%>
