<!-- <% - include('partials/header') -%>

  <section class="container">

    <section class="mt-5">
      <h2>Create a new Contact:</h2>
      <form action="/contact/createContact" method="POST" name="createContactForm">

        <section class="mb-3">
          <input type="text" class="form-control" id="contactfirstName" name="firstName"
            placeholder="Contact First Name">
        </section>
        <section class="mb-3">
          <input type="text" class="form-control" id="contactLastName" name="lastName" placeholder="Contact Last Name">
        </section>

        <section class="mb-3">
          <input type="text" class="form-control" id="contactWebsite" name="contactWebsite"
            placeholder="Contact Website">
        </section>

        <section class="mb-3">
          <input type="text" class="form-control" id="title" name="contactTitle" placeholder="Contact Title">
        </section>

        <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
      </form>
    </section>

    <section class="row mt-5">
      <section class="col-6">


      </section>
    </section>

  </section>



  <%- include('partials/footer') -%> -->