<%- include('partials/headerLogin') -%>
  <main class="signup">
    <h1 class="seekerStyle">Seeker</h1>
    <section class="logContainer">
      <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el=> { %>
          <div class="">
            <%= el.msg %>
          </div>
          <% }) %>
            <% } %>
              <% if (locals.messages.info) { %>
                <% messages.info.forEach( el=> { %>
                  <div class="">
                    <%= el.msg %>
                  </div>
                  <% }) %>
                    <% } %>


                     <section class="formContainer">
                      <form action="/signup" method="POST">

                        <div class="inputStyle">
                          <label for="userName" class="form-label">User Name</label>
                          <input type="text" class="form-control" id="userName" name="userName">
                        </div>

                        <div class="inputStyle">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            name="email">

                          <div id="emailHelp" class="helpTip form-text secondary-text">We'll never share your email with
                            anyone else.</div>
                        </div>

                        <div class="inputStyle">
                          <label for="password" class="form-label">Password</label>
                          <input type="password" class="form-control" id="password" name="password">
                        </div>

                        <div class="inputStyle">
                          <label for="confirmPassword" class="form-label">Confirm Password</label>
                          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                        </div>

                        <button class="loginBTN" type="submit" class="btn btn-primary">Signup</button>
                      </form>
                     </section>


    </section>

  </main>

  <%- include('partials/footer') -%>