.login {
    height: 100%;
    padding-top: 50vh;
    align-items: center;
    text-align: center;
    background:
        linear-gradient(to right,
            rgba($primary-color, 0.8),
            rgba($primary-color, 0.2)),
}

